@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Montserrat";
        src: url("../fonts/Montserrat-Bold.ttf");
        font-weight: bold;
        font-style: normal;
    }
    @font-face {
        font-family: "Montserrat";
        src: url("../fonts/Montserrat-Regular.ttf");
        font-weight: normal;
        font-style: normal;
    }
}

a {
    text-decoration: none;
    display: block;
    position: relative;

    &.under {
        &:after {
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -2px;
            width: 0;
            height: 1.2px;
            background-color: rgb(55 65 81);
            content: "";
            transition: width 0.3s ease-out;
        }

        &:hover:after,
        &:focus:after {
            width: 100%;
        }
    }
}

.container_before-after {
    position: relative;
    width: 100%;
    height: 100%;

    .image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .image-background {
        width: 100%;
        background-image: url("../images/after.jpg");
    }

    .image-foreground-container {
        position: absolute;
        width: 50%;
        height: 100%;
        overflow: hidden;

        .image-foreground {
            background-image: url("../images/before.jpg");
            height: 100%;
        }
    }

    .slider {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
        height: 100%;
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        outline: none;
        transition: all 0.2s;
        --left: 50%;

        &::after {
            content: '⟨ ⟩';
            font-size: 12px;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: var(--left);
            transform: translate(-50%, -50%);
            width: 28px;
            height: 28px;
            border-radius: 100%;
            background: white;
            cursor: pointer;
        }
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 8px;
        margin-left: 4px;
        height: 1117px;
        background: white;
        cursor: pointer;
    }
}
