@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Montserrat";
        src: url("../fonts/Montserrat-Bold.ttf");
        font-weight: bold;
        font-style: normal;
    }
    @font-face {
        font-family: "Montserrat";
        src: url("../fonts/Montserrat-Regular.ttf");
        font-weight: normal;
        font-style: normal;
    }
}

.container_before-after {
    position: relative;
    width: 100%;
    height: 100%;

    .image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .image-background {
        width: 100%;
        background-image: url("../images/after.jpg");
    }

    .image-foreground-container {
        position: absolute;
        width: 50%;
        height: 100%;
        overflow: hidden;

        .image-foreground {
            background-image: url("../images/before.jpg");
            height: 100%;
        }
    }

    .slider {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
        height: 100%;
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        outline: none;
        transition: all 0.2s;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 8px;
        margin-left: 4px;
        height: 1117px;
        background: white;
        cursor: pointer;
    }
}
